/* The division of hero */
#hero {
    height:100vh;
    width:100%;
    background:red;
    display:flex;
    align-items:center;
    justify-content: center;
}


#hero::after {
width:100%;
height:100%;
content: '';
position:absolute;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5)
}

/* the video */
#hero video {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:5;
object-fit:cover;
font-family:'object-fit: cover';
}


/* the texture which covers the video */
#hero .texture {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:15;
background:url('texture.png');
}

/* from caption until a:hover is showing header 1 and the button */
#hero .caption {

position:relative;
z-index:20;
text-align:center;
color:#ffffff;
}



#hero .caption h1 {

text-transform: uppercase;
font-size:2em;
font-family: 'Roboto Slab', serif;
margin-bottom:0.5rem;
}



#hero .caption a{
    display: inline-block;
    text-transform: none;
    color: #fff; 
    border: 1px solid #fff;
    padding: 20px 15px;
    width: 200px;
    margin-top: 2em;
    transition: 0.3s all ease;
    cursor: url('hand2.png'), auto;
}

#hero .caption a:hover{
    color:black;
    background-color: #fff;
}

/* from cover until the keyframes.It contains the transition css*/

.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100vw;
    z-index: 1000;
  }
  .transition.slide .cover1 {
    background-color: white;
    animation: slide 0.3s ease-in-out forwards;
  }
  .transition.slide .cover2 {
    background-color: gray;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  .transition.slide .cover3 {
    background-color: black;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  @keyframes slide {
    from {
      left: -100vw;
    }
    to {
      left: 0;
    }
  }


  /* The rest of css is media screen from mobile to computer.*/

  @media screen and (min-width:480px)
  {
       
 #hero {
  height:100vh;
  width:100%;
  background:red;
  display:flex;
  align-items:center;
  justify-content: center;
}


#hero::after {
width:100%;
height:100%;
content: '';
position:absolute;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5)
}

/* the video */
#hero video {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:5;
object-fit:cover;
font-family:'object-fit: cover';
}


/* the texture which covers the video */
#hero .texture {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:15;
background:url('texture.png');
 }

}


@media screen and (min-width:768px)
{
  #hero {
    font-size:0.75rem;
  }
  
  
  #hero::after {
    font-size:2rem;
  background:rgba(0,0,0,0.5)
  }
  
  /* the video */
  #hero video {
   width:100%;
  height:100%;
  font-size:2rem;
  object-fit:cover;
  font-family:'object-fit: cover';
  }
  
  
  /* the texture which covers the video */
  #hero .texture {

  font-size:0.75rem;
  background:url('texture.png');
   }
#hero .caption h1 {
    font-size:2.5rem;
    font-family: 'Roboto Slab', serif;
}



#hero .caption a{
    font-size:0.75rem;
    font-family: 'Roboto Slab', serif;
}


}


   .navbar{
        font-size:4rem;
    }
    
    .navbar .container{
      font-size:0.75rem;
  }

  .navbar2 .container4{
    font-size:0.75rem;
  }
  
  .navbar2 .container6{
      font-size:0.75rem;
  }
  
  .navbar .container2{
    font-size:0.75rem;
  }

  .navbar .container5{
    font-size:0.75rem;
}
  
    .navbar .container6{
       font-size:1.75rem;
    }
    
    .section3{
      font-size:0.75rem;
    }
    
  
    .container3{
        font-size:0.75rem;
    }
    
    .container2 .box{
      font-size:0.75rem;
    }
    
    .container2 .box p{
      font-size:0.75rem;
    }
    
    .container2 .box h3{
      font-size:0.89rem;
    }
    
    .container2 .box h4{
      font-size:1rem;
    }
    .paragraph{
        font-size:0.75rem;
    }
    .paragraphEL{
        font-size:0.75rem;
    }
    
    .container4{
      font-size: 0.75rem;
    }
    .container4 .box2{
        font-size:0.75rem;
      }
      
      .container4 .box2 p{
        font-size:0.75rem;
      }
      
      .container4 .box2 h3{
        font-size:0.75rem;
      }
      
      .container4 .box2 h4{
        font-size:0.75rem;
      }
      .container5{
        font-size: 0.75rem;
      }
      .container6{
        font-size: 0.75rem;
      }
      .paragraph2{
          font-size:1.75rem;
      }
      .paragraph2EL{
        font-size:1.12rem;
    } 
 
      .paragraphEL2{
          font-size:0.75rem;
      }
 
  @media (min-width:801px){
    #hero {
      font-size:0.75rem;
    }
    
    
    #hero::after {
      font-size:2rem;
    background:rgba(0,0,0,0.5)
    }
    
    /* the video */
    #hero video {
    width:100%;
    height:100%;
    object-fit:cover;
    font-family:'object-fit: cover';
    }
    
    
    /* the texture which covers the video */
    #hero .texture {
    font-size:0.75rem;
    background:url('texture.png');
     }
  #hero .caption h1 {
      font-size:3rem;
      font-family: 'Roboto Slab', serif;
       
  }
  
  
  #hero .caption a{
      font-size:1rem;
      font-family: 'Roboto Slab', serif;
  }
  

  }    

@media screen and (min-width:992px)
{
  #hero {
    font-size:0.75rem;
  }
  
  
  #hero::after {
    font-size:2rem;
  background:rgba(0,0,0,0.5)
  }
  
  /* the video */
  #hero video {
  width:100%;
  height:100%;
  font-size:2rem;
  object-fit:cover;
  font-family:'object-fit: cover';
  }
  
  
  /* the texture which covers the video */
  #hero .texture {
  font-size:0.75rem;
  background:url('texture.png');
   }
#hero .caption h1 {
    font-size:3rem;
    font-family: 'Roboto Slab', serif;
     
}


#hero .caption a{
    font-size:1rem;
    font-family: 'Roboto Slab', serif;
}

}



@media screen and (min-width:1200px)
{
  #hero {

    font-size:0.75rem;
  }
  
  
  #hero::after {

    font-size:2rem;
  background:rgba(0,0,0,0.5)
  }
  
  /* the video */
  #hero video {
  width:100%;
  height:100%;
  font-size:2rem;
  object-fit:cover;
  font-family:'object-fit: cover';
  }
  
  
  /* the texture which covers the video */
  #hero .texture {
  font-size:0.75rem;
  background:url('texture.png');
   }
#hero .caption h1 {
    font-size:4rem;
    font-family: 'Roboto Slab', serif; 
}


#hero .caption a{
    font-size:1.5rem;
    font-family: 'Roboto Slab', serif; 
}

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


 body{
    
   animation: transitionIn 0.75s;
   background-position: center center;
   background-attachment: fixed;
  
} 


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family : 'Poppins', sans-serif;
    cursor: url('Hacker\ Cursor.png'), auto;
   
 }


 


@keyframes transitionIn{
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform:rotateX(0);
    }
}

