#hero {
    height:100vh;
    width:100%;
    background:red;
    display:flex;
    align-items:center;
    justify-content: center;
}



#hero::after {
width:100%;
height:100%;
content: '';
position:absolute;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5)
}


#hero video {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:5;
object-fit:cover;
font-family:'object-fit: cover';
}


#hero .texture {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:15;
background:url('texture.png');
}


#hero .caption {

position:relative;
z-index:20;
text-align:center;
color:#ffffff;
}



#hero .caption h1 {

text-transform: uppercase;
font-size:2em;
font-family: 'Oswald', sans-serif;
margin-bottom:0.5rem;
}



#hero .caption a{
    display: inline-block;
    text-transform: none;
    color: #fff; 
    border: 1px solid #fff;
    padding: 20px 15px;
    width: 200px;
    margin-top: 2em;
    transition: 0.3s all ease;
    cursor: url('hand2.png'), auto;
}

#hero .caption a:hover{
    color:black;
    background-color: #fff;
}

.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100vw;
    z-index: 1000;
  }
  .transition.slide .cover1 {
    background-color: white;
    animation: slide 0.3s ease-in-out forwards;
  }
  .transition.slide .cover2 {
    background-color: gray;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  .transition.slide .cover3 {
    background-color: black;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  @keyframes slide {
    from {
      left: -100vw;
    }
    to {
      left: 0;
    }
  }



@media screen and (min-width:768px)
{
#hero .caption h1 {
    font-size:2.5rem;
}



#hero .caption a{
    font-size:0.75rem;
}


}




@media screen and (min-width:992px)
{
#hero .caption h1 {
    font-size:3rem;
}


#hero .caption a{
    font-size:1rem;
}

}



@media screen and (min-width:1200px)
{
#hero .caption h1 {
    font-size:4rem;
}


#hero .caption a{
    font-size:1.5rem;
}

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


 body{
    
   animation: transitionIn 0.75s;
   background-position: center center;
   background-attachment: fixed;
  
} 


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family : 'Poppins', sans-serif;
    cursor: url('Hacker\ Cursor.png'), auto;
   
 }


 


@keyframes transitionIn{
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform:rotateX(0);
    }
}

