* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {

    font-family:'Share Tech', sans-serif;
}
/* This is the mobile hamburger UI css*/
nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 0 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
      
}
nav .mainMenu li a:hover {
    background: rgb(49, 49, 49);
}
nav .openMenu {
    font-size: 2rem;
    margin: 30px;
    display: none;
    cursor: pointer;
}


nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}



@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        background: rgb(49, 49, 49);
        font-size: 2.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}