*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family:'Share Tech', sans-serif;

    /* cursor: url('hand2.png'), auto; */
}

body{
    background-image: linear-gradient(45deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(135deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(0deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(90deg, rgb(3, 20, 35),rgb(76, 9, 223));
}
input{
    display: none;
}

/*From container until top content. It contains the selection. */
.container3{
    width:100%;
    text-align: center;
   
}

.top-content{
    background-color: rgb(26, 26, 26);
    width:115%;
    margin: 0 auto 20-x auto;
    height: 60px;
    display: flex;
    align-items: center;
    
    
}
h3{
    height: 100%;
    background-color:gray;
    line-height: 60px;
    padding: 0 50px;
    color:white;
}

h5{
    height: 100%;
    background-color:gray;
    line-height: 60px;
    padding: 0 50px;
    color:white;
}

/*this is the label and hover for checkers */
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height:60px;
    font-size: 14px;
    color:white;
    cursor: pointer;
    transition: color .5s;
    cursor: url('hand2.png'), auto;
}
label:hover{
    color:gray;
}

/*From photo gallery until img:hover. It is the function of the picture. */
.photo-gallery{
    width: 110%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 60px;
    cursor: url('Hacker\ Cursor.png'), auto;
    
}

.pic{
    position: relative;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}


.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}


@media(max-width: 360px){
 

    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:199%;
        margin: 0 auto 20-x auto;
        height: 59px;
        display: flex;
        align-items: center;  
        
    }
    h3{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 70%;
        margin: 1px;
        line-height:5px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
    
    
    
    .paragraph2{
     font-size: 0.5rem;
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

.photo-gallery {
    width: 187%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 168px;
}
.pic{
    position: relative;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}

@media(max-width: 480px){

    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:219%;
        margin: 0 auto 20-x auto;
        height: 39px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 70%;
        margin: 1px;
        line-height:5px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
    
    
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

.pic{
    position: relative;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
  

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
 

}

    
}



@media(max-width:600px){
 
 
    .container3{
        width:100%;
        text-align: center;
       
    }

    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 200%;
        background-color:gray;
        line-height: 60px;
        padding: 0 60px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

.photo-gallery{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 60px;
    cursor: url('Hacker\ Cursor.png'), auto;
    
}

.pic{
    position: relative;
    height: 250px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
 

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
   

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);


}

    
}



@media(max-width: 737px){
 
   
    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:399%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 200%;
        background-color:gray;
        line-height: 60px;
        padding: 0 60px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}


.pic{
    position: relative;
    height: 250px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
 

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);


}

    
}

@media(max-width: 800px){
 

    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:195%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}




.photo-gallery {
    width: 248%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 68px;
}

.pic{
    position: relative;
    height: 220px;
    width: 170px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;


}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
 

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);

}

    
}

@media(max-width: 1020px){
 
    .container3{
        width:72.4%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:553%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }
    
    
    
    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 90%;
        background-color:gray;
        line-height: 10px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
        margin: 0 auto 20-x auto;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}

.paragraph3{
    display: inline-block;
    height: 100%;
    margin: 14px;
    line-height:10px;
    font-size: 14px;
    color:white;
    cursor: pointer;
    
    font-family:'Share Tech', sans-serif; 
}
.paragraph4EL{
    font-size: 30px;
    line-height: 50px;
    font-family: 'Roboto Slab', serif;
}

.photo-gallery{
    width: 110%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 60px;
   
}

.pic{
    position: relative;
    height: 250px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;


}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;


}

    
}



