*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family:'Share Tech', sans-serif;
    cursor: url('Hacker\ Cursor.png'), auto;
 
}

body{
    background-image: linear-gradient(45deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(135deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(0deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(90deg, rgb(3, 20, 35),rgb(76, 9, 223));
}
input{
    display: none;
}

/*From container until top content. It contains the selection. */
.container3{
    width:100%;
    text-align: center;
   
}

.top-content{
    background-color: rgb(26, 26, 26);
    width:115%;
    margin: 0 auto 20-x auto;
    height: 60px;
    display: flex;
    align-items: center;
    
    
}
h3{
    height: 100%;
    background-color:gray;
    line-height: 60px;
    padding: 0 50px;
    color:white;
}

h5{
    height: 100%;
    background-color:gray;
    line-height: 60px;
    padding: 0 50px;
    color:white;
}

/*this is the label and hover for checkers */
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height:60px;
    font-size: 14px;
    color:white;
    cursor: pointer;
    transition: color .5s;
    cursor: url('hand2.png'), auto;
}
label:hover{
    color:gray;
}

/*From photo gallery until img:hover. It is the function of the picture. */
.photo-gallery{
    width: 110%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 60px;
    cursor: url('Hacker\ Cursor.png'), auto;
    
}

.pic{
    position: relative;
    height: 250px;
    border-radius: 30px;
    /* box-shadow: 3px 3px 5px lightgray; */
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 49%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}


@media(max-width: 360px){
 

    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:199%;
        margin: 0 auto 20-x auto;
        height: 59px;
        display: flex;
        align-items: center;  
        
    }
    h3{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 70%;
        margin: 1px;
        line-height:5px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
    
    
    
    .paragraph2{
     font-size: 0.5rem;
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

.photo-gallery {
    width: 187%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 168px;
}
.pic{
    position: relative;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}

@media(max-width: 480px){
    /* .navbar{
        width: 155%;
        color:#fff;
        background-color:black;
        height:70px;  
    }  
 
      .navbar2{
        width: 145%;
        color:#fff;
        background-color:black;
        height:70px;  
    }   */

    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:219%;
        margin: 0 auto 20-x auto;
        height: 39px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 70%;
        margin: 1px;
        line-height:5px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
    
    
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

.pic{
    position: relative;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}



@media(max-width:600px){
 
 
    .container3{
        width:100%;
        text-align: center;
       
    }

    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 200%;
        background-color:gray;
        line-height: 60px;
        padding: 0 60px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

.photo-gallery{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 60px;
    cursor: url('Hacker\ Cursor.png'), auto;
    
}

.pic{
    position: relative;
    height: 250px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}



@media(max-width: 737px){
 
    /* .navbar{
        width: 145%;
        color:#fff;
        background-color:black;
        height:70px;  
    }  
 
 
      .navbar2{
        width: 145%;
        color:#fff;
        background-color:black;
        height:70px;  
    }   */
    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:399%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 200%;
        background-color:gray;
        line-height: 60px;
        padding: 0 60px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}

/* .photo-gallery {
    width: 187%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 168px;
    cursor: url(Hacker\ Cursor.png), auto;
} */
.pic{
    position: relative;
    height: 250px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}






@media(max-width: 800px){
 
    /* .navbar{
        width: 145%;
        color:#fff;
        background-color:black;
        height:70px;  
    }  
 
 
      .navbar2{
        width: 145%;
        color:#fff;
        background-color:black;
        height:70px;  
    }   */
    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:195%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 70%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
}




.photo-gallery {
    width: 248%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 68px;
}

.pic{
    position: relative;
    height: 220px;
    width: 170px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}

@media(max-width: 1020px){
 
    /* .navbar{
        width: 175%;
        color:#fff;
        background-color:black;
        height:90px;  
    }   */
 
 
      /* .navbar2{
        width: 145%;
        color:#fff;
        background-color:black;
        height:70px;  
    }    */
    .container3{
        width:100%;
        text-align: center;
       
    }
    
    .top-content{
        background-color: rgb(26, 26, 26);
        width:416%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }
    h3{
        height: 100%;
        background-color:gray;
        line-height: 30px;
        padding: 0 30px;
        color:white;
    }
    h5{
        height: 90%;
        background-color:gray;
        line-height: 10px;
        padding: 0 30px;
        color:white;
    }

    label{
        display: inline-block;
        height: 100%;
        margin: 14px;
        line-height:10px;
        font-size: 14px;
        color:white;
        cursor: pointer;
        transition: color .5s;

    }
    label:hover{
        color:gray;
    }
   
    
    .paragraph2{
        font-size: 15px;
        line-height: 20px;
         font-family:'Share Tech', sans-serif; 
    }
    .paragraph2EL{
    font-size: 10px;
    line-height: 13px;
    font-family: 'Roboto Slab', serif;
}
.paragraph4EL{
    font-size: 30px;
    line-height: 50px;
    font-family: 'Roboto Slab', serif;
}

.photo-gallery{
    width: 110%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 60px;
    cursor: url('Hacker\ Cursor.png'), auto;
}

.pic{
    position: relative;
    height: 250px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}

.pic img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    transition: .5s;
    cursor: url('hand2.png'), auto;

}
.photo-gallery .pic img:hover
{
    filter:grayscale(100);
    transform: scale(1.1);
    cursor: url('hand2.png'), auto;

}

    
}


/* the rest of the css code is the checker for all the pictures.*/

#check1:checked ~ .container3 .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}



#check2:checked ~ .container3 .photo-gallery .Old{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check2:checked ~ .container3 .photo-gallery .Greece,
#check2:checked ~ .container3 .photo-gallery .UK,
#check2:checked ~ .container3 .photo-gallery .Iceland,
#check2:checked ~ .container3 .photo-gallery .Spain,
#check2:checked ~ .container3 .photo-gallery .Barbados,
#check2:checked ~ .container3 .photo-gallery .Bruges,
#check2:checked ~ .container3 .photo-gallery .Canada,
#check2:checked ~ .container3 .photo-gallery .Italy,
#check2:checked ~ .container3 .photo-gallery .New,
#check2:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check3:checked ~ .container3 .photo-gallery .Greece{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check3:checked ~ .container3 .photo-gallery .Italy,
#check3:checked ~ .container3 .photo-gallery .UK,
#check3:checked ~ .container3 .photo-gallery .Iceland,
#check3:checked ~ .container3 .photo-gallery .Spain,
#check3:checked ~ .container3 .photo-gallery .Barbados,
#check3:checked ~ .container3 .photo-gallery .Bruges,
#check3:checked ~ .container3 .photo-gallery .Canada,
#check3:checked ~ .container3 .photo-gallery .Old,
#check3:checked ~ .container3 .photo-gallery .New,
#check3:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}


#check4:checked ~ .container3 .photo-gallery .UK{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check4:checked ~ .container3 .photo-gallery .Old,
#check4:checked ~ .container3 .photo-gallery .Greece,
#check4:checked ~ .container3 .photo-gallery .Iceland,
#check4:checked ~ .container3 .photo-gallery .Spain,
#check4:checked ~ .container3 .photo-gallery .Barbados,
#check4:checked ~ .container3 .photo-gallery .Bruges,
#check4:checked ~ .container3 .photo-gallery .Canada,
#check4:checked ~ .container3 .photo-gallery .Italy,
#check4:checked ~ .container3 .photo-gallery .New,
#check4:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}



#check5:checked ~ .container3 .photo-gallery .Iceland{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check5:checked ~ .container3 .photo-gallery .Old,
#check5:checked ~ .container3 .photo-gallery .Greece,
#check5:checked ~ .container3 .photo-gallery .UK,
#check5:checked ~ .container3 .photo-gallery .Spain,
#check5:checked ~ .container3 .photo-gallery .Barbados,
#check5:checked ~ .container3 .photo-gallery .Bruges,
#check5:checked ~ .container3 .photo-gallery .Canada,
#check5:checked ~ .container3 .photo-gallery .Italy,
#check5:checked ~ .container3 .photo-gallery .New,
#check5:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check6:checked ~ .container3 .photo-gallery .Spain{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check6:checked ~ .container3 .photo-gallery .Old,
#check6:checked ~ .container3 .photo-gallery .Greece,
#check6:checked ~ .container3 .photo-gallery .UK,
#check6:checked ~ .container3 .photo-gallery .Iceland,
#check6:checked ~ .container3 .photo-gallery .Barbados,
#check6:checked ~ .container3 .photo-gallery .Bruges,
#check6:checked ~ .container3 .photo-gallery .Canada,
#check6:checked ~ .container3 .photo-gallery .Italy,
#check6:checked ~ .container3 .photo-gallery .New,
#check6:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check7:checked ~ .container3 .photo-gallery .Barbados{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check7:checked ~ .container3 .photo-gallery .Old,
#check7:checked ~ .container3 .photo-gallery .Greece,
#check7:checked ~ .container3 .photo-gallery .UK,
#check7:checked ~ .container3 .photo-gallery .Iceland,
#check7:checked ~ .container3 .photo-gallery .Spain,
#check7:checked ~ .container3 .photo-gallery .Bruges,
#check7:checked ~ .container3 .photo-gallery .Canada,
#check7:checked ~ .container3 .photo-gallery .Italy,
#check7:checked ~ .container3 .photo-gallery .New,
#check7:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check8:checked ~ .container3 .photo-gallery .Bruges{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check8:checked ~ .container3 .photo-gallery .Old,
#check8:checked ~ .container3 .photo-gallery .Greece,
#check8:checked ~ .container3 .photo-gallery .UK,
#check8:checked ~ .container3 .photo-gallery .Iceland,
#check8:checked ~ .container3 .photo-gallery .Spain,
#check8:checked ~ .container3 .photo-gallery .Barbados,
#check8:checked ~ .container3 .photo-gallery .Canada,
#check8:checked ~ .container3 .photo-gallery .Italy,
#check8:checked ~ .container3 .photo-gallery .New,
#check8:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check9:checked ~ .container3 .photo-gallery .Canada{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check9:checked ~ .container3 .photo-gallery .Old,
#check9:checked ~ .container3 .photo-gallery .Greece,
#check9:checked ~ .container3 .photo-gallery .UK,
#check9:checked ~ .container3 .photo-gallery .Iceland,
#check9:checked ~ .container3 .photo-gallery .Spain,
#check9:checked ~ .container3 .photo-gallery .Barbados,
#check9:checked ~ .container3 .photo-gallery .Bruges,
#check9:checked ~ .container3 .photo-gallery .Italy,
#check9:checked ~ .container3 .photo-gallery .New,
#check9:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check10:checked ~ .container3 .photo-gallery .Italy{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check10:checked ~ .container3 .photo-gallery .Old,
#check10:checked ~ .container3 .photo-gallery .Greece,
#check10:checked ~ .container3 .photo-gallery .UK,
#check10:checked ~ .container3 .photo-gallery .Iceland,
#check10:checked ~ .container3 .photo-gallery .Spain,
#check10:checked ~ .container3 .photo-gallery .Barbados,
#check10:checked ~ .container3 .photo-gallery .Bruges,
#check10:checked ~ .container3 .photo-gallery .Canada,
#check10:checked ~ .container3 .photo-gallery .New,
#check10:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check11:checked ~ .container3 .photo-gallery .New{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check11:checked ~ .container3 .photo-gallery .Old,
#check11:checked ~ .container3 .photo-gallery .Greece,
#check11:checked ~ .container3 .photo-gallery .UK,
#check11:checked ~ .container3 .photo-gallery .Iceland,
#check11:checked ~ .container3 .photo-gallery .Spain,
#check11:checked ~ .container3 .photo-gallery .Barbados,
#check11:checked ~ .container3 .photo-gallery .Bruges,
#check11:checked ~ .container3 .photo-gallery .Canada,
#check11:checked ~ .container3 .photo-gallery .Italy,
#check11:checked ~ .container3 .photo-gallery .Articles{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

#check12:checked ~ .container3 .photo-gallery .Articles{
    transform:scale(1);
    opacity: 1;
    position: relative;
   
}

#check12:checked ~ .container3 .photo-gallery .Old,
#check12:checked ~ .container3 .photo-gallery .Greece,
#check12:checked ~ .container3 .photo-gallery .UK,
#check12:checked ~ .container3 .photo-gallery .Iceland,
#check12:checked ~ .container3 .photo-gallery .Spain,
#check12:checked ~ .container3 .photo-gallery .Barbados,
#check12:checked ~ .container3 .photo-gallery .Bruges,
#check12:checked ~ .container3 .photo-gallery .Canada,
#check12:checked ~ .container3 .photo-gallery .Italy,
#check12:checked ~ .container3 .photo-gallery .New{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    
}

