 /*This is media screen for the navbar, paragraphs and containers */

 @media screen and (min-width:364px)
 {
     .navbar2{
         width: 175%;
         color:#fff;
         background-color:black;
         height:70px;
      
     } 
     

     
     .top-content{
        background-color: rgb(26, 26, 26);
        width:415%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }

   
   .container2
 {
    width: 354px;
    height: 1419px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 40px;
    padding: 1px;
    box-sizing: border-box;

 
 }
 .container2 .box{
     position: relative;
     background:white;
     box-shadow: 20px 20px 30px black;
     padding: 40px 90px 90px;
     text-align: center;
     overflow: hidden;
     font-size:4rem;
    
 }
 
 .container2 .box h3
 {
     position:relative;
     margin: 9px -4px;
     padding:0;
     font-size: 29px;
     color:rgb(0, 0, 0);
     z-index: 1;
     opacity: 0.4;
     font-family:'Share Tech', sans-serif;
    
   
 }
 .container2 .box h4
 {
    position: relative;
    margin: 11px 4px;
    padding: 0;
    color: rgb(27, 27, 27);
    z-index: 1;
    opacity: 1;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.7rem;
 }
 
 
 .container2 .box p
 {
    position: relative;
    margin: 7px 0px;
    padding: 0;
    color: black;
    font-family: 'Share Tech', sans-serif;
    font-size: 0.82rem;
  
 } 
     
   .container4
   {
    width: 354px;
    height: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 40px;
    padding: 1px;
    box-sizing: border-box;
   }
   .container4 .box2{
       position: relative;
       background:white;
       box-shadow: 20px 20px 30px black;
       padding: 40px 90px 90px;
       text-align: center;
       overflow: hidden;
      
   }
   
   .container4 .box2 h3
   {
    position: relative;
    margin: 0px -4px;
    padding: 0;
    color: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0.4;
    font-family: 'Roboto Slab', serif;
    font-size: 1.9rem;
   }
   .container4 .box2 h4
   {
    position: relative;
    margin: 3px 4px;
    padding: 0;
    color: rgb(27, 27, 27);
    z-index: 1;
    opacity: 2;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
   }
   
   
   .container4 .box2 p
   {
    position: relative;
    margin: 11px 0px;
    padding: 0;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 0.59rem;
   } 


       .paragraph{
           font-size:1.95rem;
       }
       .paragraphEL{
           font-size:1.12rem;
       }
       .paragraph2EL{
         font-size:1.12rem;
     } 
       
     .paragraph2{
       font-size:1.95rem;
   }

   
 }  

 @media (max-width:365px) {
    #menu {
        position:absolute;
        top:60px;
        left:-100%;
        transition: 0.4s linear;
        width: 100%;
    }
     nav > ul {
         position: absolute;
         top: 70px;
         left: -100%;
         width: 100%;
         transition: 0.8s linear;
     }
 
     nav ul li {
         display: block;
     }
 
     label {
         display: flex;
         margin-right: 10px;
     }
 
 
 
     nav ul li ul {
         width: max-content;
         z-index: 1;
     }
 
     input:checked ~ #menu {
         left: 0;
     }
 
 
 }  
 
 @media screen and (min-width:365px)
 {
     .navbar2{
         width: 175%;
         color:#fff;
         background-color:black;
         height:70px;
      
     } 
     
     
     .top-content{
        background-color: rgb(26, 26, 26);
        width:415%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
        
    }


   .container2
 {
    width: 354px;
    height: 1419px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 40px;
    padding: 1px;
    box-sizing: border-box;

 
 }
 .container2 .box{
     position: relative;
     background:white;
     box-shadow: 20px 20px 30px black;
     padding: 40px 90px 90px;
     text-align: center;
     overflow: hidden;
     font-size:4rem;
    
 }
 
 .container2 .box h3
 {
     position:relative;
     margin: 9px -4px;
     padding:0;
     font-size: 29px;
     color:rgb(0, 0, 0);
     z-index: 1;
     opacity: 0.4;
     font-family:'Share Tech', sans-serif;
    
   
 }
 .container2 .box h4
 {
    position: relative;
    margin: 11px 4px;
    padding: 0;
    color: rgb(27, 27, 27);
    z-index: 1;
    opacity: 1;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.7rem;
 }
 
 
 .container2 .box p
 {
    position: relative;
    margin: 171px 0px;
    padding: 0;
    font-size: 10px;
    color: black;
    font-family: 'Share Tech', sans-serif;
    font-size: 0.82rem;
  
 } 
     
 
   .container4
   {
    width: 354px;
    height: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 40px;
    padding: 1px;
    box-sizing: border-box;
   }
   .container4 .box2{
       position: relative;
       background:white;
       box-shadow: 20px 20px 30px black;
       padding: 40px 90px 90px;
       text-align: center;
       overflow: hidden;
      
   }
   
   .container4 .box2 h3
   {
    position: relative;
    margin: 0px -4px;
    padding: 0;
    color: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0.4;
    font-family: 'Roboto Slab', serif;
    font-size: 1.9rem;
   }
   .container4 .box2 h4
   {
    position: relative;
    margin: 3px 4px;
    padding: 0;
    color: rgb(27, 27, 27);
    z-index: 1;
    opacity: 2;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
   }
   
   
   .container4 .box2 p
   {
    position: relative;
    margin: 11px 0px;
    padding: 0;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 0.59rem;
   } 


       .paragraph{
           font-size:1.95rem;
       }
       .paragraphEL{
           font-size:1.12rem;
       }
       .paragraph2EL{
         font-size:1.12rem;
     } 
       
     .paragraph2{
       font-size:1.95rem;
   }
   
 }  


 @media screen and (max-width:446px){
   
    .navbar2{
        width: 415%;
        color:#fff;
        background-color:black;
        height:100px;
     
    } 

    
   section{
    height: 175vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(90deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(0deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(90deg, rgb(125, 161, 246),rgb(27, 147, 241));

}
 
   .photo-gallery {
    width: 415%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 68px;
}
   

   .paragraph{
       font-size:0.75rem;
   }
   .paragraphEL{
       font-size:0.75rem;
   }

     .container6{
      width: 85%;
      max-width: 289px;
      margin: 0 auto;
      padding: 13px;
      box-shadow: 0px 0px 20px #00000010;
      background-color:slategrey;
      border-radius: 23px;
      margin-bottom: -56px;
      font-size: 0.75rem;
    } 
     .paragraph2{
        font-size: 30px;
        line-height: 30px;
         font-size:1.78rem;
     }
     .paragraph2EL{
        font-size:0.7rem;
    } 

     .paragraphEL2{
         font-size:0.75rem;
     }
     
 }
 
 @media (max-width:480px) {
    #menu {
        position:absolute;
        top:60px;
        left:-100%;
        transition: 0.4s linear;
        width: 100%;
    }
     nav > ul {
         position: absolute;
         top: 70px;
         left: -100%;
         width: 100%;
         transition: 0.8s linear;
     }
 
     nav ul li {
         display: block;
     }
 
     label {
         display: flex;
         margin-right: 10px;
     }
 
 
 
     nav ul li ul {
         width: max-content;
         z-index: 1;
     }
 
     input:checked ~ #menu {
         left: 0;
     }
 
 
 }  
 

 @media screen and (max-width:480px){
   
    .navbar2{
        width: 301%;
        color:#fff;
        background-color:black;
        height:100px;
     
    } 
      /* This is the lightbox with places the position of the picture.*/
     .lightbox{
        width: 399%;
        margin: 545px 0px 0px;
        z-index: 10000;
        font-weight: 400;
        outline: 0;

    }
     

   .photo-gallery {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 68px;
}


   .paragraph{
       font-size:0.75rem;
   }
   .paragraphEL{
       font-size:0.75rem;
   }
   
     .paragraph2{
        font-size: 30px;
        line-height: 30px;
         font-size:1.38rem;
     }
     .paragraph2EL{
        font-size:0.5rem;
    } 

  
     
 }
 
@media screen and (min-width:600px)
{
  
    .navbar2{
        width: 258%;
        color:#fff;
        background-color:black;
        height:100px;
     
    } 

    .top-content{
        background-color: rgb(26, 26, 26);
        width:356.7%;
        margin: 0 auto 20-x auto;
        height: 60px;
        display: flex;
        align-items: center;
        
    }

    .photo-gallery {
        width:100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        grid-gap: 164px;
    }
    
 

.container6{
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color:slategrey;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 0.75rem;
}
    

    .paragraph{
        font-size:0.75rem;
    }
    .paragraphEL{
        font-size:0.75rem;
    }
    

      
      .container6{
        width: 50%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 0px 20px #00000010;
        background-color:slategrey;
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 0.75rem;
      }
      .paragraph2{
        font-size: 30px;
        line-height: 30px;
        font-size:1.1rem;
      }
      .paragraph2EL{
        font-size:0.59rem;
    } 
 
   

}
 

  @media (max-width:768px) {
   #menu {
       position:absolute;
       top:60px;
       left:-100%;
       transition: 0.4s linear;
       width: 100%;
   }
    nav > ul {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        transition: 0.8s linear;
    }

    nav ul li {
        display: block;
    }

    label {
        display: flex;
        margin-right: 10px;
    }



    nav ul li ul {
        width: max-content;
        z-index: 1;
    }

    input:checked ~ #menu {
        left: 0;
    }


}  



@media screen and (min-width:768px)
{
 
    .navbar2{
        width: 195%;
        color:#fff;
        background-color:black;
        height:100px;
     
    } 
.container6{
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color:slategrey;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 0.75rem;
}
    .paragraph{
        font-size:0.75rem;
    }
    .paragraphEL{
        font-size:0.75rem;
    }
    
      
      
      .container6{
        width: 50%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 0px 20px #00000010;
        background-color:slategrey;
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 0.75rem;
      }
      .paragraph2{
        font-size: 30px;
        line-height: 30px;
          font-size:1.75rem;
      }
      .paragraph2EL{
        font-size:1.12rem;
    } 



}


@media (max-width:800px) {
    #menu {
        position:absolute;
        top:60px;
        left:-100%;
        transition: 0.4s linear;
        width: 100%;
    }
     nav > ul {
         position: absolute;
         top: 70px;
         left: -100%;
         width: 100%;
         transition: 0.8s linear;
     }
 
     nav ul li {
         display: block;
     }
 
     label {
         display: flex;
         margin-right: 10px;
     }
 
 
 
     nav ul li ul {
         width: max-content;
         z-index: 1;
     }
 
     input:checked ~ #menu {
         left: 0;
     }
 
 
 }  
@media (min-width:800px) {
    .navbar2{
        width: 248%;
        color:#fff;
        background-color:black;
        height:100px;
     
    } 

    .photo-gallery {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        grid-gap: 292px;
    }



.paragraph{
    font-size:0.75rem;
}
.paragraphEL{
    font-size:0.75rem;
}


  .container6{
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color:slategrey;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

  .paragraph2{
  font-size: 30px;
  line-height: 30px;
   font-family:'Share Tech', sans-serif;
  } 
  .paragraph2EL{
    font-size:0.8rem;
} 

}


@media screen and (min-width:1025px)
{
    .navbar2{
        width: 115%;
        color:#fff;
        background-color:black;
        height:70px;
     
    } 
    
    .photo-gallery {
        width: 96%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        grid-gap: 106px;
      }
  

  .container6{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color:slategrey;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 0.75rem;
  }

      .paragraph{
          font-size:1.95rem;
      }
      .paragraphEL{
          font-size:1.12rem;
      }
      .paragraph2EL{
        font-size:1.12rem;
    } 
      
    .paragraph2{
        font-size: 30px;
        line-height: 30px;
      font-size:1.95rem;
  }

  
}


@media screen and (min-width:1281px)
{
    .navbar2{
        width: 100%;
        color:#fff;
        background-color:black;
        height:84px;
     
    } 
    
    section{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(135deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(90deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(0deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(90deg, rgb(125, 161, 246),rgb(27, 147, 241));
    
    }

    .top-content{
        background-color: rgb(26, 26, 26);
        width:100%;
        margin: 0 auto 20-x auto;
        height: 69px;
        display: flex;
        align-items: center;
        
        
    }
    
  


  .container6{
    width: 90%;
    max-width: 500px;
    margin: 45px auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color:slategrey;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 0.75rem;
  }

      .paragraph{
          font-size:1.95rem;
      }
      .paragraphEL{
          font-size:1.12rem;
      }
      .paragraph2EL{
        font-size:1.12rem;
    } 
      
    .paragraph2{
        font-size: 30px;
        line-height: 30px;
      font-size:1.95rem;
  }

}  

