@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

 body{
    
   animation: transitionIn 0.75s;
   background-position: center center;
   background-attachment: fixed;
  
} 


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:'Share Tech', sans-serif; 
     /* cursor: url('hand2.png'), auto;  */
   
 }


 
.paragraph{
    font-size: 30px;
    line-height: 60px;
    font-family:'Share Tech', sans-serif;
  
}



.paragraph2{
    font-size: 30px;
    line-height: 30px;
     font-family:'Share Tech', sans-serif; 
}

.navbar2{
    width: 115%;
    color:#fff;
    background-color:black;
    height:70px;
 
} 

.top-content{
    background-color: rgb(26, 26, 26);
    width:115%;
    margin: 0 auto 20-x auto;
    height: 60px;
    display: flex;
    align-items: center;
    
    
}


nav ul{
    padding: 0;
    margin: 0;
    display:right;
    margin-right: 60px;
 

}

nav ul li {
    background:black;
    position: relative;
    list-style: none;
    display: inline-block;

   
   
}

nav ul li a{
    display: block;
    padding: 0 16px;
    color:#fff;
    text-decoration: none;

    font-size: 20px;
    line-height:60px;
    margin: 0px 60px;

}

nav ul li a:hover{
    background:grey;
    cursor: url('hand2.png'), auto;
  
}
nav ul ul{
    position: absolute;
    top: 50px;
    display: none;
   
}

nav ul li:hover  ul{
    display: block;
}
nav > ul > li > ul {
    left: 0;
    top: 90%;
}

nav > ul > li > ul > li ul {
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    left: 100%;
    top: 30%;
}



nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

input {
    display: none;
}

 .bottom_nav{
    width: 100%;
    background: #000000;
    height: 45px;
    padding: 0 50px;
  }
  
 .bottom_nav ul{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 .bottom_nav ul li a{
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .bottom_nav ul li a:hover{
    background:grey;
  
  
}
.bottom_nav ul li:hover  ul{
    display: block;
}
  
  
label {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
    border: 1px solid #fff;
    color: #ffff;
    margin-right: 20px;
    display: none;
}



label span {
    font-family: 'Poppins', sans-serif;
}

  /* Transition of the buttons*/
@keyframes transitionIn{
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform:rotateX(0);
    }
}
