@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


 body{
    
   animation: transitionIn 0.75s;
   background-position: center center;
   background-attachment: fixed;
  
} 


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family : 'Poppins', sans-serif;
    cursor: url('Hacker\ Cursor.png'), auto;
   
 }


 
.paragraph{
    font-size: 30px;
    line-height: 60px;
   
    font-family:'Share Tech', sans-serif;
  
}
.paragraph1{
    font-size: 30px;
    line-height: 60px;

    font-family:"Cookie";
}


.paragraphEL{
    font-size: 17px;
    line-height: 60px;
    font-family: 'Roboto Slab', serif; 

}

.paragraph5EL{
    font-size: 17px;
    line-height: 80px; 
    font-family: 'Roboto Slab', serif; 

}
.paragraph2{
    font-size: 30px;
    line-height: 30px;
    font-family:'Share Tech', sans-serif;
}

.paragraph2EL{
    font-size: 13px;
    line-height: 30px;
  
}

.paragraph2EL1{
    font-size: 10px;
    line-height: 30px;
  
}

.paragraph4EL{
    font-size: 30px;
    line-height: 60px;
  
}
.paragraph3{
    font-size: 100px;
    line-height: 60px;
    font-family:"Cookie";
}

.navbar2{
    width: 115%;
    color:#fff;
    background-color:black;
    height:70px;
 
} 



.navbar .container6{
    max-width: 1200px;
    margin:0px auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 40px;
    
}



section{
    height: 183vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(90deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(0deg, rgba(98, 147, 221,0.2) 0%, rgba(98, 147, 221,0.2) 16.667%,rgba(121, 207, 220,0.2) 16.667%, rgba(121, 207, 220,0.2) 33.334%,rgba(75, 86, 222,0.2) 33.334%, rgba(75, 86, 222,0.2) 50.001%,rgba(87, 116, 221,0.2) 50.001%, rgba(87, 116, 221,0.2) 66.668%,rgba(64, 56, 222,0.2) 66.668%, rgba(64, 56, 222,0.2) 83.335%,rgba(110, 177, 220,0.2) 83.335%, rgba(110, 177, 220,0.2) 100.002%),linear-gradient(90deg, rgb(125, 161, 246),rgb(27, 147, 241));

}


nav ul{
    padding: 0;
    margin: 0;
    display:right;
    margin-right: 60px;
 

}

nav ul li {
    background:black;
    position: relative;
    list-style: none;
    display: inline-block;
    cursor: url('hand2.png'), auto;
   
   
}

nav ul li a{
    display: block;
    padding: 0 16px;
    color:#fff;
    text-decoration: none;

    font-size: 20px;
    line-height:60px;
    margin: 0px 60px;
   
}

nav ul li a:hover{
    background:grey;
    cursor: url('hand2.png'), auto;
  
}
nav ul ul{
    position: absolute;
    top: 50px;
    display: none;
   
}

nav ul li:hover  ul{
    display: block;
}
nav > ul > li > ul {
    left: 0;
    top: 90%;
}

nav > ul > li > ul > li ul {
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    left: 100%;
    top: 30%;
}



nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}



.section{
    
    position:relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    position:absolute;
    text-align:center;
    font-size: 8rem;
    font-family:"Cookie";
    padding: 30px;
    margin: 7px;
    z-index: 2;
    opacity: 0.8;
}

.section2{
    
    position:relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    
}

.color-overlay{
    position: absolute;
    top:0;
    left: 0;
    background-color:#fff;
    width:100%;
    height:100vh;
    opacity: 0.5;
}

@keyframes transitionIn{
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform:rotateX(0);
    }
}



.container2
{
    width: 339px;
    height: 1107px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 40px;
    padding: 20px;
    box-sizing: border-box;

}
.container2 .box{
    position: relative;
    background:white;
    box-shadow: 20px 20px 30px black;
    padding: 40px 90px 90px;
    text-align: center;
    overflow: hidden;
   
}

.container2 .box h3
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 27px;
    color:black;
    z-index: 1;
    opacity: 0.4;
    font-family: 'Share Tech', sans-serif;
    cursor: url('I.png'), auto;
 
}
.container2 .box h4
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 19.8px;
    color:black;
    z-index: 1;
    opacity: 1.4;
    font-family: 'Share Tech', sans-serif;
    cursor: url('I.png'), auto;
}


.container2 .box p
{
    position:relative;
    margin: 0;
    padding:0;
    font-size:8.9px;
    color:black;
    font-family: 'Share Tech', sans-serif;
    cursor: url('I.png'), auto;
}

.container5
{
  width: 1300px;
  height: 1050px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 40px;
  padding: 200px;
  box-sizing: border-box ;
}
.container5 .box2{
    position: relative;
    background:white;
    box-shadow: 20px 20px 30px black;
    padding: 40px 90px 90px;
    text-align: center;
    overflow: hidden;
}

.container5 .box2 h3
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 80px;
    color:black;
    z-index: 1;
    opacity: 0.4;
    font-family: 'Roboto Slab', serif; 
}
.container5 .box2 h4
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 30px;
    color:black;
    z-index: 1;
    opacity: 0.4;
    font-family: 'Roboto Slab', serif; 
}


.container5 .box2 p
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 17px;
    color:black;
    font-family: 'Roboto Slab', serif; 
    
}


.container4 {
    width: 326px;
    height: 1075px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 40px;
    padding: -20px;
    box-sizing: border-box;
}
.container4 .box2{
    position: relative;
    background:white;
    box-shadow: 20px 20px 30px black;
    padding: 40px 90px 90px;
    text-align: center;
    overflow: hidden;
}

.container4 .box2 h3
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 21px;
    color:black;
    z-index: 1;
    opacity: 0.4;
    font-family: 'Roboto Slab', serif; 
}
.container4 .box2 h4
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 18px;
    color:black;
    font-family: 'Roboto Slab', serif; 
}


.container4 .box2 p
{
    position:relative;
    margin: 0;
    padding:0;
    font-size: 8.8px;
    color:black;
    font-family: 'Roboto Slab', serif; 
}

.image{
    width: 100%;
    margin-top: 100px;
}
img{
    height: 293px;
    width: 179px;
    display: block;
    margin:-142px -18px 32px;
    border-radius: 46%;
    border: 7px solid #0091;
}