@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


 body{
    
   animation: transitionIn 0.75s;
   background-position: center center;
   background-attachment: fixed;
  
} 


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family : 'Poppins', sans-serif;
    cursor: url('Hacker\ Cursor.png'), auto;
   
 }


 
.paragraph{
    font-size: 30px;
    line-height: 60px;
    /* font-family : 'Poppins', sans-serif; */
    font-family:"Cookie";
  
}
.paragraph1{
    font-size: 30px;
    line-height: 60px;
    /* font-family : 'Poppins', sans-serif; */
    font-family:"Cookie";
}


.paragraphEL{
    font-size: 17px;
    line-height: 60px;

}

.paragraph5EL{
    font-size: 17px;
    line-height: 80px; 


}
.paragraph2{
    font-size: 30px;
    line-height: 30px;
    /* font-family : 'Poppins', sans-serif; */
    font-family:"Cookie";
}

.paragraph2EL{
    font-size: 13px;
    line-height: 30px;
  
}

.paragraph2EL1{
    font-size: 10px;
    line-height: 30px;
  
}

.paragraph4EL{
    font-size: 30px;
    line-height: 60px;
  
}
.paragraph3{
    font-size: 100px;
    line-height: 60px;
   
    /* font-family : 'Poppins', sans-serif; */
    font-family:"Cookie";
}

.navbar{
    width: 100%;
    color:#fff;
    background-color:black;
    height:60px;
 
 
} 

.navbar .container{
    max-width: 1200px;
    margin:0px auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 55px;
    
}







nav ul{
    padding: 0;
    margin: 0;
    display:right;
    margin-right: 60px;
 

}

nav ul li {
    background:black;
    position: relative;
    list-style: none;
    display: inline-block;
    cursor: url('hand2.png'), auto;
   
   
}

nav ul li a{
    display: block;
    padding: 0 16px;
    color:#fff;
    text-decoration: none;

    font-size: 20px;
    line-height:60px;
    margin: 0px 60px;
    /* text-transform: uppercase; */
   
   
   
}

nav ul li a:hover{
    background:grey;
    cursor: url('hand2.png'), auto;
  
}
nav ul ul{
    position: absolute;
    top: 50px;
    display: none;
   
}

nav ul li:hover  ul{
    display: block;
}

